[2019-08-04 12:22] thephucit opened #1 "Additional auto typing"
Hi, your app it's useful to me, I have one suggestion, can you additional feature auto typing for app, it like kepass on window,

Thanks

[2019-08-05 08:49] alchaplinsky commented on #1
Hey @thephucit,
Can you give a little bit more info about this auto typing feature you'd like app to have?

[2019-08-25 14:01] wouterds opened #3 "Dropbox syncing"
**Is your feature request related to a problem? Please describe.**
Not really

**Describe the solution you'd like**
Syncing with Dropbox alternatively to Google Drive

**Describe alternatives you've considered**
Syncing with Google Drive

**Additional context**
Syncing vault cross platform & devices

[2019-08-25 20:12] amirrammari opened #4 "Need Android and iOS version"
Hello, I have Android phone and iOS table (iPad).
Please publish Android and iOS version.
Thanks.

[2019-08-26 11:05] reicheltp opened #5 "OneDrive syncing"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
Ability to sync the vault via OneDrive as alternative to GDrive.

**Describe alternatives you've considered**

**Additional context**
Syncing vault cross platform & devices

[2019-08-26 12:24] ashutoshbhide opened #6 "Connect to Google drive is not working"
**Describe the bug**
Connect to google drive just opens a blank page and it stays that way. Doesnt do anything after that.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Vault Setting
2. Click on Connect to Google Drive
4. See error that  nothing happens. The page just remains blank.

**Expected behavior**
It should connect to Google account and link it the google drive.

**Screenshot

[2019-08-26 12:33] thiagogsr opened #7 "One time password"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Scan QR code or enter a one time password security key to generate one time passwords like 1password does.

[2019-08-26 17:19] alchaplinsky commented on #6
@ashutoshbhide Thanks for reporting! That is definitely getting prioritised before v0.2.0.

[2019-08-26 17:20] alchaplinsky commented on #7
@thiagogsr Yep pretty nice feature. Will add it to roadmap.

[2019-08-26 17:21] alchaplinsky commented on #3
This is in roadmap

[2019-08-26 17:21] alchaplinsky commented on #5
Will add to roadmap

[2019-08-26 17:21] alchaplinsky commented on #4
I hope it will happen some time soon :)

[2019-08-26 22:54] alchaplinsky commented on #6
Ok, this is fixed in [v0.2.0-beta.3](https://github.com/swiftyapp/swifty/releases/tag/v0.2.0-beta.3)

[2019-08-26 22:54] #6 closed

[2019-08-27 06:11] ashutoshbhide commented on #6
@alchaplinsky Awesome. Thanks for the super prompt fix.
This is a awesome project. Would definitely like to contribute to it.

[2019-08-27 08:35] alchaplinsky commented on #6
@ashutoshbhide You're definitely welcome to contribute!

[2019-08-28 07:17] sarperkaya opened #8 "Tags"
Could we use tags with passwords?

Filter them by tags will be useful when managing Business/Personal accounts

Thanks

[2019-08-29 17:59] alchaplinsky opened #9 "On Linux and Windows after closing and reopening app freezes"
**Describe the bug**
On Linux and Windows after closing and reopening app freezes

**To Reproduce**
Steps to reproduce the behavior:
1. Open app
2. Enter password and see main app window
3. Close app window
4. Open app window by clicking tray icon

**Expected behavior**
App should be fully interactable again

**Actual behavior**
App window is frozen and non-responsive

**Desktop (please complete t

[2019-08-29 18:27] alchaplinsky commented on #9
Fixed in [v0.2.0-beta.4](https://github.com/swiftyapp/swifty/releases/tag/v0.2.0-beta.4)

[2019-08-29 18:27] #9 closed

[2019-09-11 23:02] russbrenner commented on #7
+1

[2019-09-18 01:42] joseph991229 opened #10 "Login password more then 24 characters will be cut ...."
**Is your feature request related to a problem? Please describe.**
In src/renderer/javascripts/components/main/body/aside/form/login.js,
we can see line35, have set the password field maxlength=24,
so if password more then 24, that will be cut...
and fields maxlength is necessary?

[2019-09-18 07:28] alchaplinsky commented on #10
Hey @joseph991229,
well the maxlength itself is necessary for security reasons. However, the number of characters can vary. My initial thought was 24 characters should be enough for passwords. Do you have a case with password longer than that?

[2019-09-18 07:58] joseph991229 commented on #10
Hi @alchaplinsky
In face, i try to save my cloud secret with swifty. The cloud secrets, just like AWS, google and so on are always more then 24 characters So is this a good idea to save secrets more the 24 char in swifty?

thanks your time

[2019-09-18 10:18] alchaplinsky commented on #10
@joseph991229 Ok I see. That is useful info, I will consider increasing maxlength for password field in next releases. In the meantime, you can use secure notes for storing cloud credentials. Note's body is not limited in length.

[2019-09-18 16:20] Nasnl opened #11 "Fatal error at set up"
I got stuck right at the set up. Hope it helps to share this...

[code]

---

Swifty 0.3.0-beta.1
Electron 6.0.9
win32 10.0.18362
Locale: en-US

[2019-09-18 17:46] alchaplinsky commented on #11
@Nasnl Sure, thanks for the report!

[2019-09-19 14:37] alchaplinsky commented on #11
Hey @Nasnl could you check [v0.3.2-beta.2](https://github.com/swiftyapp/swifty/releases/tag/v0.3.0-beta.2)? This issue should've been fixed there.

[2019-09-20 00:45] joseph991229 commented on #10
@alchaplinsky  thanks your info. have a good day.

[2019-09-20 00:45] #10 closed

[2019-09-23 03:11] oanhnn opened #12 "What is license?"
**Describe the bug**
On README file, license is MIT, but in LICENSE file, it is GNU General Public License v3.0

[2019-09-23 06:49] alchaplinsky commented on #12
@oanhnn Thanks for pointing out! Fixed readme

[2019-09-23 06:49] #12 closed

[2019-09-23 13:11] #11 closed

[2019-09-24 00:23] AlikanakelaKarwowski opened #13 "Unable to uninstal"
So first issue, im on windows 10, just set it up, set a master password, i typed it it and confirmed it. And now... the password is supposedly incorrect. Like i just set it up and i know what it is cause i typed it in twice and i made sure i typed it correctly. but now... it is saying incorrect password,

Second issue. im trying to uninstall it and reinstall if to reset. Cant uninstall it either.

[2019-09-24 07:33] alchaplinsky commented on #13
Hey, @AlikanakelaKarwowski that is interesting.. Which version did you install and set up master
password?

[2019-09-24 16:13] alchaplinsky commented on #13
@AlikanakelaKarwowski  ok, so what happens when you try to uninstall the app?

[2019-09-24 16:25] alchaplinsky commented on #13
I tried to reproduce this issue on Windows 10, and it works as expected. One of the possible solutions might be deleting vault file and starting from scratch. You can find this file at `C:\Users\[USERNAME]\AppData\Roaming\Swifty>`

[2019-09-25 15:21] tdreger123 opened #14 "Master Password lockout"
**Describe the bug**
I have been locked out of the app because it says that the master password is incorrect. I know that it is not. This has happened before. The other time it happened I restarted the app and it worked. Any suggestions? Could it be due to the new update?

Also, I am new to github but I wanted to know if there is a way to update the swifty app or does it happen automatically when

[2019-09-25 16:08] alchaplinsky commented on #14
Hey tdreger123,
Currently, Swifty shows "incorrect password" error when there was any problem while decrypting your data. So it is possible that entered password is correct, but something else went wrong. There was a breaking change in v0.2.0 (due to encryption algorithm change) so if you started using app prior to v0.2.0 and then it was automatically updated that may be the cause of this issue.

[2019-09-25 16:10] alchaplinsky commented on #14
So you can try to uninstall current version and then install v0.2.0-beta.3 to check if your password works in it. If it works you might need to migrate your data to newer version.

[2019-10-02 08:55] MTayyabHanif commented on #1
Maybe like an autofill the password where needed?

[2019-10-02 08:56] thephucit commented on #1
Ah yes, that I mean

[2019-10-02 15:28] alchaplinsky commented on #1
@thephucit  @MTayyabHanif Ok, yes, that makes sense. In-browser autofill will be possible with browser extension which is in the roadmap.

[2019-10-03 11:33] MTayyabHanif commented on #1
@alchaplinsky Awesome! Looking forward to it. :)

[2019-10-22 17:55] alchaplinsky commented on #8
Added in [v0.4.0](https://github.com/swiftyapp/swifty/releases/tag/v0.4.0)

[2019-11-05 08:05] mfferreira commented on #4
+1

[2019-11-18 16:15] alchaplinsky opened #16 "User Rate Limit Exceeded."
[code]

---

Swifty 0.4.1
Electron 7.0.0
darwin 19.0.0
Locale: en-GB

[2019-11-27 10:18] alchaplinsky commented on #13
Closing for now due to lack of activity for more than 45 days

[2019-11-27 10:18] #13 closed

[2019-11-27 10:18] alchaplinsky commented on #14
Closing for now due to lack of activity for more than 45 days

[2019-11-27 10:18] #14 closed

[2019-11-30 19:43] Lukentui opened #17 "Bug with download buttons on getswifty.pro"
**Describe the bug**
When I click "Download for Windows", opens `https://getswifty.pro/download/mac`.

[2019-11-30 19:54] alchaplinsky commented on #17
Well, actually that's right. And the browser should start downloading a recent version of an app.

[2019-12-01 19:35] Lukentui commented on #17
Yesh, he starts, but not .exe :/
![image](https://user-images.githubusercontent.com/17615743/69919134-e51ac280-148a-11ea-8c8a-04bfbdb3f21d.png)

[2019-12-01 19:47] Lukentui opened #18 "Error at Google Drive sync"
[code]

### Steps to reproduce

1. Open Settings
2. Click "Connect your Google Drive"
3. Login and permit access to Google Account(Click "Allow")
4. Catch exception :D

---

Swifty 0.4.1
Electron 7.0.0
win32 10.0.18362
Locale: ru

[2019-12-01 21:59] alchaplinsky commented on #17
Ok, got it.. Will look into it

[2019-12-01 22:16] alchaplinsky commented on #17
Fixed

[2019-12-01 22:16] #17 closed

[2019-12-31 05:49] surya-aezowie opened #19 "I am unable to connect my google drive. please check this error and correct it"
[code]

---

Swifty 0.4.1
Electron 7.0.0
win32 10.0.18363
Locale: en-GB

[2019-12-31 05:58] fusionarts commented on #19
Also the Chrome extension is not working. Maybe because it is not uploaded on Chrome Store!
I have a developer account of Chrome web store so if you allow then i can publish the extension on  Chrome web store

[2019-12-31 06:01] fusionarts opened #20 "Chrome extension is not working!!"
Chrome extension is not working. Maybe because it is not uploaded on Chrome Store!
I have a developer account of Chrome web store so if you allow then i can publish the extension on Chrome web store

[2020-01-01 08:18] alchaplinsky commented on #19
Hey @surya-aezowie, try to connect Gdrive, and after you get this error, just click 'OK' and then click connect again. This worked for me. However this is an known issue and I'm going to work on fixing this asap.

[2020-01-01 08:19] alchaplinsky commented on #18
Related #19

[2020-01-01 08:20] alchaplinsky commented on #20
Chrome extension is still Work In Progress.

[2020-01-01 08:45] surya-aezowie commented on #20
Ok thanks for letting me know. Must tell me if i can help you in any way.
Surya Pratap Singh
Aezowie Infotech Services Pvt. Ltd.
www.aezowie.com
Facebook <https://www.facebook.com/surya.aezowie> | Twitter
<https://twitter.com/surya_aezowie> | Linkedin
<http://www.linkedin.com/in/surya-aezowie>

On Wed, Jan 1, 2020 at 1:50 PM Alex Chaplinsky <notifications@github.com>
wrote:

[2020-02-03 18:36] callmehanu commented on #19
I am also have problems to connect my **google drive**.
![image](https://user-images.githubusercontent.com/13230502/73680393-25b0db00-468a-11ea-8ee5-8f8ed37ab788.png)

[2020-02-07 23:16] callmehanu commented on #20
Is **Swift extension** in the Chrome Store?

[2020-03-10 13:34] alchaplinsky commented on #18
Should be fixed in recent release [v0.4.4](https://github.com/swiftyapp/swifty/releases/tag/v0.4.4)

[2020-03-10 13:35] #18 closed

[2020-03-10 13:35] alchaplinsky commented on #19
Should be fixed in recent release [v0.4.4](https://github.com/swiftyapp/swifty/releases/tag/v0.4.4)

[2020-03-10 13:35] #19 closed

[2020-03-10 19:36] alchaplinsky opened #21 "On sync Error: No refresh token is set"
[code]

---

Swifty 0.4.4
Electron 8.1.1
darwin 19.3.0
Locale: en-GB

[2020-03-12 12:14] #16 closed

[2020-03-16 17:13] jerdeb opened #23 "Error shown on loading the application"
[code]

---

Swifty 0.4.2
Electron 7.1.7
darwin 19.3.0
Locale: en-GB

[2020-03-24 16:45] Zagur opened #24 "Nextcloud/webdav syncing"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
 Syncing with NextCloud/Webdav alternatively to privative Google Drive or Dropbox

**Describe alternatives you've considered**
 Syncing with Google Drive or Dropbox

**Additional context**
:3

[2020-03-24 21:23] alchaplinsky commented on #21
A temporary fix: Re-connect Google Drive in Settings

[2020-03-25 20:51] Teddy95 opened #25 "Change master password"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be very nice if one can change the master password.

**Describe alternatives you've considered**
I fell in love with Swifty directly :)

[2020-03-26 12:17] alchaplinsky commented on #25
Glad to hear! :)
Yes, this feature is something that should be done soon. Will make it a priority for my next steps.

[2020-03-26 22:13] Teddy95 commented on #25
Nice thank you! :D

[2020-04-24 18:18] jjsquady commented on #4
+1

[2020-04-24 18:20] jjsquady commented on #25
+1

[2020-04-24 20:08] alchaplinsky commented on #25
Change Password introduced in [v0.4.6](https://github.com/swiftyapp/swifty/releases/tag/v0.4.6)

[2020-04-24 20:08] #25 closed

[2020-04-26 17:25] alchaplinsky commented on #23
@jerdeb Please try a newer version and let me know if issue is reproduced.

[2020-04-27 09:17] jerdeb commented on #23
The latest version seems to have fixed it. I will close this.

Thanks

[2020-04-27 09:17] #23 closed

[2020-04-27 16:09] alchaplinsky commented on #21
It's been a while since this error showed up, so it looks like it was fixed in the refactoring

[2020-04-27 16:09] #21 closed

[2020-04-28 17:33] jjsquady opened #28 "Error "Unhandled Promisse""
[code]

---

Swifty 0.4.6
Electron 8.2.3
darwin 19.3.0
Locale: en-US

[2020-05-03 14:26] alchaplinsky commented on #7
One time password support was introduced in [v0.4.9](https://github.com/swiftyapp/swifty/releases/tag/v0.4.9)

[2020-05-03 14:26] #7 closed

[2020-05-20 15:24] gladson opened #31 "Google sync error"
**Describe the bug**
Clicking sync shows the error below:

**Screenshots**
![image](https://user-images.githubusercontent.com/1013698/82464383-051b5e00-9a8c-11ea-8c10-6b1ecc2112e3.png)

**Desktop:**
![image](https://user-images.githubusercontent.com/1013698/82464524-3005b200-9a8c-11ea-9eb3-87eeb64e2050.png)

[2020-05-20 18:15] alchaplinsky commented on #31
Ok, It looks like google is changing their sign in policy allowing authentication using only certain browsers https://support.google.com/accounts/answer/7675428?co=GENIE.Platform%3DAndroid&hl=en

[2020-05-23 11:15] alchaplinsky commented on #31
Ok, this release [v0.5.0](https://github.com/swiftyapp/swifty/releases/tag/v0.5.0) should direct user to default browser to authenticate with google.

[2020-05-23 11:15] #31 closed

[2020-05-31 21:09] alchaplinsky opened #33 "Swifty generates wrong OTP"
**Describe the bug**
When entering a secret for Two factor authentication, swifty shows a different one time password that google authenticator does.

**Desktop (please complete the following information):**
 - OS:  MacOS
 - Version 0.5.0

[2020-05-31 21:46] alchaplinsky commented on #33
Fixed in [v0.5.1](https://github.com/swiftyapp/swifty/releases/tag/v0.5.1)

[2020-05-31 21:46] #33 closed

[2020-07-01 14:34] shinuvk opened #34 "Import details either via CSV or local API"
It would be great, if we have an option to import the details from other password managers or provide a CSV template with which we can import the data into Swifty. This will help to adopt easily by migrating data.

[2020-07-01 20:02] alchaplinsky commented on #34
That's something I was thinking about. Which password managers do you have in mind?

[2020-08-02 17:20] PoseidonsCave opened #38 "Keep getting this error upon start-up"
[code]

---

Swifty 0.5.1
Electron 9.0.0
win32 10.0.18362
Locale: en-US

[2020-08-12 11:21] alchaplinsky commented on #38
Looks like Windows-specific issue

[2020-08-13 10:29] alchaplinsky commented on #38
@PoseidonsCave Try version 0.5.3, should be fixed there.

[2020-08-13 18:25] reddyshyam commented on #34
Hi,

Keepass and Passwordsafe could be a good start

[2020-08-13 20:36] #38 closed

[2020-09-25 06:50] AndresMorelos opened #40 "Question about use the project"
Hey guys,

I just fork you project and I was wondering if there is any problem if I create my own app from you code?, I'm adding some extra features to my fork, and I want to change the name to the project, is it ok for you?.

My project will be open source with GNU license as well, let me know if there is any issue.

Thank you.

[2020-09-25 06:55] alchaplinsky commented on #40
Yes, so you're free to do what is defined by License.

[2020-09-25 07:09] AndresMorelos commented on #40
@alchaplinsky Thank you man.

[2020-09-25 07:09] #40 closed

[2020-09-29 07:41] alchaplinsky commented on #28
This should be fixed in v0.6.0

[2020-09-29 07:41] #28 closed

[2020-10-07 19:44] emo44 opened #42 "i get this error"
[code]

---

Swifty 0.5.4
Electron 9.2.1
win32 10.0.18363
Locale: es

[2020-10-08 09:18] alchaplinsky commented on #42
Try installing the latest version 0.6.0

[2020-10-09 13:27] #42 closed

[2020-11-01 15:44] appinteractive opened #43 "Can`t open the App on MacOS"
**Describe the bug**
App cant be opened after installation on MacOS as it "can`t be scanned for malicious code. The app needs to be updated. Contact the developer". I never before saw such message.

**To Reproduce**
Steps to reproduce the behavior:
1. Download from https://getswifty.pro/ for MacOS
2. Install (drag into app dir)
3. Open the app
4. See error

**Expected behavior**
Should start norma

[2020-11-02 12:14] alchaplinsky commented on #43
Hey @appinteractive this is not a bug, this is MacOS security restrictions. It is complaining because app wasn't downloaded from app store. You can still open it by right-clicking on the app in Applications folder and choosing "Open", a confirming your intention to open.

[2020-11-02 12:48] appinteractive commented on #43
@alchaplinsky That's not what happened as the text do not mention anything about the AppStore like on any other app where you will be routed to the security panel in settings. This seems to be something that has to do with the packager.

[2020-11-02 15:52] alchaplinsky commented on #43
@appinteractive Ok, it looks like an issue with app notarization. Could you try v0.6.1? It should not have that issue anymore.

[2020-11-02 16:25] appinteractive commented on #43
@alchaplinsky works, awesome thanks!

[2020-11-02 16:25] #43 closed

[2020-11-02 16:28] appinteractive opened #44 "iOS Download loads Linux Bundle"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://getswifty.pro/ with an iOS Device
2. Click on 'Download for iOS'
4. It does download the 'Linux (.AppImage)' file

**Expected behavior**
Do not show the download button and display a note on availability

**Screenshots**
-

**Desktop (please complete the foll

[2020-11-02 17:29] alchaplinsky commented on #44
@appinteractive There's no mobile version for now. So maybe it is better to hide the download button for mobile devices at all.

[2020-11-23 13:23] tim-vandenbosch opened #45 "Restore backup from google drive"
**Is your feature request related to a problem? Please describe.**
I have multiple devices and want to install swifty on them without much hassle.

**Describe the solution you'd like**
I want to "restore from backup" as a returning user (on another device) directly to google drive.
So without google drive synced to the device.

**Describe alternatives you've considered**
Installing the google driv

[2020-11-23 14:15] alchaplinsky commented on #45
@tim-vandenbosch Currently you can start fresh on a new computer by clicking "New User" on the first screen, set up SAME PASSWORD which you've been using previously. And then after successful setup you can connect Google Drive in Settings section and all your data will be synced from GDrive.

[2020-11-25 00:06] #45 closed

[2020-11-26 01:11] tim-vandenbosch opened #46 "Windows - Window interactions"
**Describe the bug**
On windows the application can't minimize, maximize, unmaximize or close

**To Reproduce**
Steps to reproduce the behavior:
1. Open the application on a windows device
2. Try to interact with the window

**Expected behavior**
When one of the three buttons are pressed, the desired action should happen

**Screenshots**
Testing it on the start
![GifMaker_20201126020600822](https:

[2020-12-12 12:52] alchaplinsky commented on #46
This should be fixed in [v0.6.2](https://github.com/swiftyapp/swifty/releases/tag/v0.6.2)

[2020-12-12 12:52] #46 closed

[2020-12-12 13:01] alchaplinsky commented on #44
This has been fixed in this repo https://github.com/swiftyapp/getswifty.pro

[2020-12-12 13:01] #44 closed

[2020-12-16 13:46] jerdeb opened #49 "Potential update error on startup"
[code]

---

Swifty 0.6.1
Electron 10.1.3
darwin 19.6.0
Locale: en-GB

[2020-12-30 10:44] gitSaptarshi opened #51 "Firefox error"
[code]

---

Swifty 0.6.2
Electron 10.1.5
linux 5.9.16-200.fc33.x86_64
Locale: en-GB

[2021-01-09 09:02] hpkumbhar opened #52 "Backup vault locally"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Ability to take vault backup locally on computer.

**Describe alternatives you've considered**
No

**Additional context**
We can consider encrypting backup file with master password so that can be restored on other machine.

[2021-01-09 10:28] alchaplinsky commented on #52
@hpkumbhar You can actually save the vault file locally. Just go to Vault settings and click `Save Vault file` button.
![img](https://api.monosnap.com/file/download?id=3tS2BAG56BxIvIj5kwvsyKaEBANJ3t)

[2021-01-09 10:35] #52 closed

[2021-01-10 20:06] alchaplinsky commented on #51
@gitSaptarshi Hey, how did you manage to get this error? Did you use Swifty before and then just deleted it's folder in GDrive?

[2021-01-10 20:24] alchaplinsky commented on #49
Hey @jerdeb, thanks for pointing out! This has been fixed.

[2021-01-10 20:24] #49 closed

[2021-01-10 21:03] #3 closed

[2021-01-11 10:09] gitSaptarshi commented on #51
No, I installed Swifty for the first time. Then tried to add GDrive. There is no folder called Swiftly in my GDrive already.

[2021-01-12 09:31] alchaplinsky commented on #51
@gitSaptarshi Well Swifty should create one if it does not exist on your drive. Are you able to get the same error if you restart the application and try connecting GDrive again?

[2021-01-13 14:34] gitSaptarshi commented on #51
Yes, this error persists. I reconnected my GDrive to the app but after restarting, the connection was lost and had to be reconnected again.

[2021-01-16 18:28] ngeshlew opened #53 "Design help available"
Any design help needed? I'm available.

[2021-01-17 18:10] alchaplinsky commented on #53
Hey @ngeshlew, sure would be cool to refresh the app design overall and maybe improve app logo. Would really appreciate some help on that.

[2021-01-18 06:09] ngeshlew commented on #53
Hey @alchaplinsky That's great! Couple of questions:

1. Are there any previous design files you can share?
2. I will be working on Figma, who will I be collaborating with?
3. Is it possible to break down the app refresh into small issues then assign me so that I can start working on them?
4. Is there a folder in this repo where you have some designs?

[2021-01-18 16:26] alchaplinsky commented on #53
So @ngeshlew,
1. I've got a [Figma project](https://www.figma.com/file/shCzXXLKjF6v5v0gtzxYsJ/Swifty-Desktop?node-id=0%3A1) with application screens. There was no design work done originally (the current design is an improvisation).
2. Let me know if I can invite you to Figma project with and we can collaborate there.
3. Yes, there is a [Trello board](https://trello.com/b/9ie3Fwkk/swifty) where I

[2021-01-18 17:00] ngeshlew commented on #53
@alchaplinsky thanks for getting back to me quick:

1. I can work with this.
2. You can invite me at ngugilewis [at] gmail dot com.
3. Perfect! You can invite me to it as well using the same.
4. No problem. We can use `/resources/` directory especially for storing icons and logo. I've forked the project so I will be doing a pull request to push the designs onto the project. Let me know if that wor

[2021-01-18 17:39] alchaplinsky commented on #53
@ngeshlew Ok I've sent you invites

[2021-01-18 18:10] ngeshlew commented on #53
@alchaplinsky not received the invites yet.

[2021-01-19 05:53] ngeshlew commented on #53
@alchaplinsky all invites received. The only challenge is that I only have view only rights for Figma. There are two ways of approaching this:

1. You transfer ownership to my email either of [team](https://help.figma.com/hc/en-us/articles/360039481134-Change-the-Owner-of-a-Team) or [project](https://help.figma.com/hc/en-us/articles/360038512093-Transfer-ownership-of-a-project).
2. I duplicate the

[2021-01-19 05:58] ngeshlew commented on #53
@alchaplinsky I'd like to be creating issues here that are related to design tasks from Trello so that we can be having the conversations here but the nitty-gritty can happen in Figma. What do you think?

[2021-01-19 08:14] alchaplinsky commented on #53
@ngeshlew Sure, that works for me. BTW, I gave you editor permissions to the project, so should be good now.

[2021-01-19 08:22] ngeshlew commented on #53
Got the access @alchaplinsky, thanks! 🎉  I'll start to create the issues now and close this.

[2021-01-19 08:22] #53 closed

[2021-01-19 08:23] ngeshlew opened #54 "App icon"
**Describe the solution you'd like**
Would be nice to use it for both Desktop and Mobile application icon

[2021-01-19 08:25] ngeshlew commented on #54
Just seen this was assigned to you. How do I create issues then get them assigned to me @alchaplinsky for design?

[2021-01-19 08:26] ngeshlew opened #55 "App Logo"
- Should be similar to App icon
- Will be used for displaying in the application on the locked screen

[2021-01-19 08:26] ngeshlew opened #56 "Locked screen"
What should be displayed in UI:
- App identity (logo)
- Field for entering master password
- A button to enable touchId for mac users with touchId support

[2021-01-19 08:51] alchaplinsky commented on #54
I will re-assign it to you. At the moment it is set up to be automatically assigned to me :)

[2021-01-19 14:26] ngeshlew commented on #55
@alchaplinsky quick one on this issue, do you want a `refresh` (new creation) of the logo OR am I recreating the same one as a vector file?

[2021-01-21 16:44] radeksz1 opened #57 "Data migration - no possibility to migrate data"
**Describe the bug**
File cannot uploaded from Google Drive to Swifty from another device and from Swifty to Google Drive. No option is available to perform such activity.

**To Reproduce**
Steps to reproduce the behavior:
Please follow the steps in the documentation.

**Expected behavior**
User should be able to use the downloaded file from Google Drive with a Swifty application.

**Desktop (plea

[2021-01-22 11:55] alchaplinsky commented on #57
Hey @radeksz1 to be honest, I don't see that is the problem here. Vault file was not designed to be downloaded and opened by Swifty app.

If you want to set up Swifty app on another device, you can do so, by setting it up from scratch with the same password that you've previously used. And then connect to your GDrive account again. Swifty will download all the passwords you've got in your GDrive a

[2021-01-24 10:08] tim-vandenbosch opened #58 "Error message during use (checking for updates)"
**Describe the bug**
While using the application, it tries to check for updates but fails

**To Reproduce**
Steps to reproduce the behavior:
1. Open application/give master password
2. Wait

**Expected behavior**
Checking successfully for updates

**Screenshots**
![image](https://user-images.githubusercontent.com/10880963/105627025-5efecf80-5e34-11eb-8267-8228ff986a6f.png)
Full Error message:
Unha

[2021-01-27 10:00] asieverding opened #59 "Cannot export vault on MacOS Big Sur"
**Describe the bug**
Cannot export vault. No dialog and no erros and also no vault file.

**To Reproduce**
Go to settings and export vault as file.

**Expected behavior**
The on-click event of this button should open a save file dialog.

**Desktop (please complete the following information):**
 - OS: MacOS Big Sur
 - Version 11.1

[2021-01-27 21:31] alchaplinsky commented on #59
This is going to be fixed in next release

[2021-01-27 21:37] alchaplinsky commented on #58
@tim-vandenbosch Could you try [v0.6.4](https://github.com/swiftyapp/swifty/releases/tag/v0.6.4)? The issue should no longer be present.

[2021-01-27 21:38] alchaplinsky commented on #59
Actually, it is fixed in [v0.6.4](https://github.com/swiftyapp/swifty/releases/tag/v0.6.4)

[2021-01-27 21:38] #59 closed

[2021-01-27 23:44] PoseidonsCave opened #60 "Signature issue (?) Windows 10"
[code]

---

Swifty 0.5.1
Electron 9.0.0
win32 10.0.18363
Locale: en-US

[2021-01-28 16:10] BlueManCZ opened #61 "Unknown license in control file in .deb archive"
**Describe the bug**
There is a `control` file inside `control.tar.gz` archive in `.deb` package. This `control` file should contain a line with license. It currently contains the line: `License: unknown`. Could you please update this file to contain `License: GPL-3.0` instead?

**To Reproduce**
Steps to reproduce the behaviour:

[code]

[2021-03-15 12:55] shatang opened #65 "Abnormal connection to Google driver"
[code]

---

Swifty 0.6.4
Electron 11.2.0
win32 10.0.18363
Locale: zh-CN

[2021-03-28 23:40] arung-agamani opened #66 "Error on synchronizing to Google Drive for first time"
**Describe the bug**
Trying to connect with Google Drive, application gives the following error

**To Reproduce**
Steps to reproduce the behavior:

1. Click Synchronize with Google Drive button
2. Browser pops out for user authentication. Proceed to select account.
3. On last page of consent screen in Google Oauth, before completing the auth process, Windows Firewall warning shows up to confirm ne

[2021-06-10 08:08] linbil commented on #60
I'm getting the same error message...
[code]

---

Swifty 0.6.4
Electron 11.2.0
win32 10.0.19041
Locale: en-GB

[2021-06-20 20:52] ludwig24 opened #73 "Backup Feature Doesn't Work!"
Greetings,

So recently I've started using swiftly on my windows 10, when I create a backup file and delete a password it doesn't retrieve it. I've tried placing the backup file in the swifty directory and also opening it using swifty but still it doesn't work.

[2021-06-22 16:23] alchaplinsky commented on #73
Hey @ludwig24 , the vault file is not just opened by the application. It is usually used to restore data when you install Swifty (on a different computer for instance)

[2021-06-23 19:45] PoseidonsCave opened #74 "Windows 10 Signature Error"
[code]

---

Swifty 0.6.4
Electron 11.2.0
win32 10.0.19041
Locale: en-US

[2021-08-02 14:39] MaxLyonel opened #75 "Error"
[code]

---

Swifty 0.6.4
Electron 11.2.0
win32 10.0.18363
Locale: es-419

[2021-08-02 14:43] #75 closed

[2021-12-04 19:03] #73 closed

[2021-12-06 07:55] betadog-net opened #85 "Swifty Error: electron/js2c/browser_init.js"
[code]

---

Swifty 0.6.5
Electron 12.0.7
win32 10.0.18363
Locale: zh-CN

[2022-01-18 20:28] h8man opened #87 "Configure Lockout time"
I didn't found the way to adjust Lockout time.

It would be nice to make this line

`const INACTIVE_TIMEOUT = 60000`

adjustable from `Settings` as 1 minute is pretty low for me.

[2022-02-09 08:50] mohammaditor opened #90 "error!"
[code]

---

Swifty 0.6.5
Electron 12.0.7
win32 10.0.19043
Locale: en-US

[2022-02-11 14:37] rmpadilla opened #91 "Not sure what happened, was trying to import passwords from GDrive into Swifty."
[code]

---

Swifty 0.6.5
Electron 12.0.7
linux 5.16.8-zen1-1-zen
Locale: en-US

[2022-02-14 08:28] h8man opened #93 "Workspaces"
It would be great to have workspaces in addition to tags.
It can be done as tabs that can be loaded in (as in web browser)

One work project easily bloats manager with 10-20 different credentials into the same web portals.

[2022-03-11 16:24] tim-vandenbosch opened #96 "Installing instance on extra device"
Installing Swifty and attempting to connect to an existing vault-file deleted all my passwords.
I made a backup but it seems I'm not able to replace the "new" vault-file.
[code]

---

Swifty 0.6.5
Electron 12.0.7
linux 5.4.0-104-generic
Locale: nl

[2022-04-05 11:50] Phil353556 opened #100 "Not working without Internet connexion available"
Hi, I consider this is a bug.
As it MUST be possible to use a password manager localy without any Internet connexion available.

$ ./Swifty-0.6.5.AppImage
13:29:59.661 › Checking for update
13:30:00.600 › Error: Error: net::ERR_INTERNET_DISCONNECTED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:105:7068)
    at SimpleURLLoaderWrapper.emit (events.js:315:20)
Error: net::E

[2022-07-06 06:47] Milogenius opened #103 "Hello, may I ask whether this project is still maintained? Now it won't work"
Hello, may I ask whether this project is still maintained? Now it won't work

[2022-07-06 13:09] alchp commented on #103
Hello, yes it is maintained. What’s not working for you?

On Wed, 6 Jul 2022 at 02:47, 麦洛 ***@***.***> wrote:

[2022-07-06 13:11] alchaplinsky commented on #103
Hello @Milogenius, yes it is maintained. What’s not working for you?

[2022-07-21 09:02] Phil353556 commented on #103
Hi @alchaplinsky , same question for me.
Good to know it is maintained.
I will give another try when the issue (bug?) https://github.com/swiftyapp/swifty/issues/100  will be solved

[2022-07-21 16:10] #90 closed

[2022-08-03 09:21] OR120 opened #107 "Add webdav suppout"
Hope to add support for wevdav synchronization, thank you

[2022-08-03 09:22] OR120 commented on #107
in addition. I would like to know how to provide translation files, I would like to provide translations in Simplified Chinese

[2022-08-03 09:51] alchaplinsky commented on #107
Hey @OR120, there is a Chinese locale file https://github.com/swiftyapp/swifty/blob/master/locales/zh-CN.json so you should be able to select it in language settings. If something isn't 100% correct or needs improvement, feel free to send a pull request. Thanks!

[2022-08-05 14:32] timb67 opened #109 "black window on Linux Mint Vanessa"
I installed Swifty on Linux Mint Vanessa and all I get when I open Swifty is a black window. I see File Edit View Window Help, but everything else is black. This works fine in Linux Mint 20.3, just not Linux Mint 21 (Vanessa). I've uninstalled and re-installed several times. I will add I am running both Mint versions virtually in VMWare. But again Mint 20.3 works as expected. I know Mint 21 (Vanes

[2022-09-14 13:06] NCCPOlmeijer opened #118 "Error: Unsupported state or unable to authenticate data"
[code]

---

Swifty 0.6.6
Electron 13.1.9
win32 10.0.22000
Locale: en-US

[2022-10-30 18:05] Asuniia opened #122 "Closing window on Windows throws an exception"
[code]

---

Swifty 0.6.7
Electron 20.3.3
win32 10.0.22000
Locale: fr

[2022-10-30 18:06] Asuniia commented on #122
window on close button

[2022-10-30 18:08] alchaplinsky commented on #122
Do you get this exception when you close the app window?

[2022-10-31 07:17] zlElo commented on #122
I get the same error :( I want to "close" the programm with the close button and this error comes... I have tested it both in a VM and on my laptop and this error always comes up.

[2022-10-31 07:25] zlElo commented on #122
VM = Win 10 (outdated)
Laptop = Win 11 (all updates installed)

[2022-10-31 08:39] alchaplinsky commented on #122
Ok, some weird behavior on Windows. I need to install a VM to test it out.

[2022-10-31 11:46] Phil353556 commented on #100
Hi,
I checked with the latest version. It works without network connection.
Still have an error message ..
but not a problem at all.  It works.
![ksnip_20221031-124215](https://user-images.githubusercontent.com/64729485/199000573-9d8b8ea8-2eda-4f26-b223-cbfeefbd9e9c.png)

[2022-10-31 11:58] alchaplinsky commented on #100
@Phil353556 Hey does this error pop up on application start?

[2022-10-31 12:02] Phil353556 commented on #100
Hey Alex
Thanks for your time
yes this pop up comes when the application starts when there is no network

Le lun. 31 oct. 2022 à 12:58, Alex Chaplinsky ***@***.***> a
écrit :

[2022-11-06 16:45] zlElo opened #124 "Don't save password (Linux Ubuntu)"
- Program: Swifty
- Version: v0.6.7
 - OS: Linux Ubuntu (Zorin OS)
 - Version Zorin OS 16.2

The program don't save the password, when I select the German language. I clicked over 100 times on "Save" but it do nothing :joy:
When I select "English" then I can use the program without any bugs or something else. Thats not a big problem but a "small" Bug :( At this moment I dont testet it on other Lin

[2022-11-06 18:15] alchaplinsky commented on #124
Hey @zlElo, try version [0.6.8](https://github.com/swiftyapp/swifty/releases/tag/v0.6.8). The issue should be resolved there.

[2022-11-07 09:01] #124 closed

[2022-11-08 09:10] alchaplinsky commented on #100
Hey @Phil353556, in v0.6.10 this issue should be resolved. Could you please check to confirm?

[2022-11-08 09:14] alchaplinsky commented on #60
Fixed in most recent versions

[2022-11-08 09:14] #60 closed

[2022-11-08 09:14] #56 closed

[2022-11-08 09:15] #55 closed

[2022-11-08 09:19] alchaplinsky commented on #103
Closing for now, as there's no info on what's not working

[2022-11-08 09:19] #103 closed

[2022-11-08 09:34] Phil353556 commented on #100
Hi @alchaplinsky,
Please hereunder the trace using first Swifty-0.6.9.AppImage which will download the latest version, and second the run of Swifty-0.6.10.AppImage  with and without network.
Ask me if you need more tests. I will be happy to help you.
platform is: Lenovo Thinkpad T470 under ubuntu 22.04 LTS.
Phil

[code]
[code]
[code]

[2022-11-08 10:18] alchaplinsky commented on #100
Ok, this looks right. It should not prompt with an error and should not prevent user from using the app.

[2022-11-08 10:18] #100 closed

[2022-11-08 10:19] Phil353556 commented on #100
Absolutely ... Many thanks @alchaplinsky  for the work done. Phil

[2022-11-08 19:22] RDKRACZ opened #125 "Crashes on launch"
Installed latest deb.
[code]

**Desktop (please complete the following information):**
 - OS: Linux Mint 21

[2022-11-13 21:41] Phil353556 opened #126 "Version coherency between github.com/swiftyapp/swifty/ and getswifty.pro"
Hi,
This is not to be considered as a bug, but "just"  a coherency between github whre it is possible to download the Latest code 0.6.10 (thank you @alchaplinsky )   and the website getswifty.pro    where the latest version available is 0.6.5

![Capture d’écran du 2022-11-13 22-38-46](https://user-images.githubusercontent.com/64729485/201545857-6d3969cf-9b40-4bd2-8602-725fd00d34e6.png)

I don't kn

[2022-11-18 11:25] zshel commented on #122
I get the same issue on Windows 10 21H2 19044.2251
Seems to be consistently reproducible whether I click the minimize, expand or close button.

[2022-11-18 12:05] Phil353556 commented on #122
Hi,
got same issue when testing on a w10.
uninstall / install and now it is ok
strange windows

[2022-11-18 17:18] zlElo commented on #122
I reinstall all top but it doesn't help anything... But for me it's ok because I change my OS to Ubuntu (ZorinOs) and on Linux runs all!

[2022-11-18 19:51] Phil353556 commented on #122
same for me.
I tested the fact that with the file "vault.swftx"  backuped, I may use it on another platform. I trust but however I prefer make a test.
During the test I encountered the issue, I copy paste:
[code]
but as you my thinkpad runs with ubuntu since years.

FYI: I noticed that uninstalling the program do not make a clean uninstall:
-C:\Users\user\AppData\Local    -> sub directory "swifty-

[2022-11-20 17:49] alchaplinsky commented on #126
Fixed

[2022-11-20 17:49] #126 closed

[2022-11-20 17:57] Phil353556 commented on #126
Thank you @alchaplinsky

[2022-11-20 21:39] alchaplinsky opened #127 "Sync error on fresh install"
[code]

---

Swifty 0.6.10
Electron 21.2.2
darwin 22.2.0
Locale: en-GB